#experience-section {
    padding: 80px 0;
}

/****** Experience Title Section ******/

#experience-section .title {
    position: relative;
    width: 200px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
}

#experience-section .title .triangle-topright  {
    width: 0;
	height: 0;
	border-top: 200px solid #f6e2ff;
	border-left: 200px solid transparent;
    position: absolute;
    top: 50;
}

#experience-section .title h1 {
    position: relative;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 600;
    color: #16171c;
    letter-spacing: 2px;
    z-index: 1;
}

.experience-container {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.caption_2 {
    margin-bottom: 20px;
    text-align: center;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.caption_2:hover {
    background: rgba(255,255,255,1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 0px 9px 41px -2px rgba(153,153,153,1);
    box-shadow: 0px 9px 41px -2px rgba(153,153,153,1);
}

.experience_icon {
    font-size: 6em;
    margin-top: 30px
}

.experience_container_h3 {
    color: #7B8FA2;
}

.experience_container_h4 {
    color: #0d2c36;
    font-size: 16px;
    margin-bottom: 30px;
}
