#experience-section {
    padding: 80px 0;
}

/****** Experience Title Section ******/

.experience_title {
    position: relative;
    width: 200px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
}

.triangle_topright  {
    width: 0;
	height: 0;
	border-top: 200px solid #f6e2ff;
	border-left: 200px solid transparent;
    position: absolute;
    top: 50;
}

.experience_title_h1 {
    position: relative;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 600;
    color: #16171c;
    letter-spacing: 2px;
    z-index: 1;
}

.experience-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: repeat(3, 150px); 
    grid-gap: 15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;   
}

.experience_hex_grid {
   margin-top: 90px;
}
.experience_image_container {
    -webkit-box-shadow: 0px 0px 18px 0px rgba(168,168,168,1);
    box-shadow: 0px 0px 18px 0px rgba(168,168,168,1);
    width: 285px;
    height: 250px
}

.experience_image {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.clearfix {
	 *zoom: 1;
}
 .clearfix:before, .clearfix:after {
	 display: table;
	 content: "";
	 line-height: 0;
}
 .clearfix:after {
	 clear: both;
}
 .container {
	 padding: 0;
	 margin: 0; 
}
 .container:before, .container:after {
	 display: table;
	 content: "";
	 line-height: 0;
}
 .container:after {
	 clear: both;
}
 .hexa {
	 float: left;
	 margin-bottom: 1px;
	 margin-left: 29px;
	 display: block;
	 height: 200px;
	 width: 120px;
	 position: relative;
	 background: transparent;
}
 .hexa:before {
	 content: "";
	 display: block;
	 width: 120px;
	 height: 150px;
	 background: transparent;
	 -webkit-transform: rotateZ(-60deg);
	 -moz-transform: rotateZ(-60deg);
	 -moz-transform-style: preserve-3d;
}
 .hexa:after {
	 content: "";
	 display: block;
	 width: 120px;
	 height: 150px;
	 background: transparent;
	 -webkit-transform: rotateZ(60deg);
	 -moz-transform: rotateZ(60deg);
	 -moz-transform-style: preserve-3d;
	 position: absolute;
	 top: 0;
}
 .hexa:hover .front {
	 -webkit-transform: translateZ(-1px) rotateY(180deg);
	 -moz-transform: translateZ(-1px) rotateY(180deg);
	 z-index: 800;
}
 .hexa:hover .back {
	 -webkit-transform: translateZ(1px) rotateY(0deg);
	 -moz-transform: translateZ(1px) rotateY(0deg);
	 z-index: 900;
}
 .hexa .front {
	 display: block;
	 height: 150px;
	 width: 89.5px;
	 position: relative;
	 background: #dc276c;
	 -webkit-transition: all 600ms;
	 transition: all 600ms;
	 position: absolute;
	 top: 0;
	 -webkit-transform: translateZ(1px) rotateY(0deg);
	 -moz-transform: translateZ(1px) rotateY(0deg);
	 -webkit-transform-style: preserve-3d;
	 -moz-transform-style: preserve-3d;
	 z-index: 900;
}
 .hexa .front:before {
	 content: "";
	 display: block;
	 width: 89.5px;
	 height: 150px;
	 background: #dc276c;
	 -webkit-transform: rotateZ(-60deg);
	 -moz-transform: rotateZ(-60deg);
	 -moz-transform-style: preserve-3d;
}
 .hexa .front:after {
	 content: "";
	 display: block;
	 width: 89.5px;
	 height: 150px;
	 background: #dc276c;
	 -webkit-transform: rotateZ(60deg);
	 -moz-transform: rotateZ(60deg);
	 -moz-transform-style: preserve-3d;
	 position: absolute;
	 top: 0;
}
 .hexa .back {
	 display: block;
	 height: 150px;
	 width: 89.5px;
	 position: relative;
	 background: #ffb533;
	 -webkit-transition: all 600ms;
	 transition: all 600ms;
	 position: absolute;
	 top: 0;
	 -webkit-transform: translateZ(-1px) rotateY(-180deg);
	 -moz-transform: translateZ(-1px) rotateY(-180deg);
	 -webkit-transform-style: preserve-3d;
	 -moz-transform-style: preserve-3d;
	 -webkit-backface-visibility: hidden;
	 -moz-backface-visibility: hidden;
	 z-index: 800;
	 opacity: 0.7;
}
 .hexa .back:before {
	 content: "";
	 display: block;
	 width: 89.5px;
	 height: 150px;
	 background: #ffb533;
	 -webkit-transform: rotateZ(-60deg);
	 -moz-transform: rotateZ(-60deg);
	 -moz-transform-style: preserve-3d;
}
 .hexa .back:after {
	 content: "";
	 display: block;
	 width: 89.5px;
	 height: 150px;
	 background: #ffb533;
	 -webkit-transform: rotateZ(60deg);
	 -moz-transform: rotateZ(60deg);
	 -moz-transform-style: preserve-3d;
	 position: absolute;
	 top: 0;
}
 .hexa.top {
	 top: -50px;
}
 

