footer {
    background: #e4e4e4;
    padding: 100px 15px;
}

.footer-social-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

.footer-social-links a {
    font-size: 2em;
    color: #8e8f91;
    padding: 10px;
    -webkit-transition: 1.2s; 
    -webkit-transition: 1.2s ease; 
    transition: 1.2s ease; 
}

.footer-social-links a .fa-facebook-f {
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.footer-social-links a .fa-twitter {
   -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.footer-social-links a .fa-linkedin-in {
   -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

.footer-social-links a .fa-dribbble {
   -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

/* Footer Section Hover Effects */

.footer-social-links a .fa-facebook-f:hover {
    color: #3b5998; 
}

.footer-social-links a .fa-twitter:hover {
    color: #1da1f2;
}

.footer-social-links a .fa-linkedin-in:hover {
    color: #007bb5;
} 

.footer-social-links a .fa-dribbble:hover {
    color: #ea4c89;
}

#footer-section h5 {
    font-size: 1.2em;
    color: #444444;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
}

#footer-section h6 {
    font-size: 1em;
    color: #444444;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
