@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "top-section.css";
@import "services-section.css";
@import "portfolio.css";
@import "experience.css";
@import "blog-section.css";
@import "testimonial-section.css";
@import "footer-section.css";
@import "responsive.css";
@import "hovereffect.css";
@import "project-page.css";

.container {
    max-width: 1160px;
    margin: 0 auto;
}

/***** Menu *****/

header {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 20px 20px 0;
    z-index: 99;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; 
    overflow: hidden;
    height: 120px;
    margin-top: -20px;
}

header .logo img {
    width: 145px;
}

header .header-menu {
    position: relative;
    top: 25px;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: 2px; 
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center; 
}

header .header-menu a {
    color: #1D1D22;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    margin-left: 20px;
    padding: 10px;
    height: 40px;
}

header .header-menu a:hover {
    font-weight: 700;
    -webkit-box-shadow: 0px 9px 41px -2px rgba(153,153,153,1);
    box-shadow: 0px 9px 41px -2px rgba(153,153,153,1);
    
}

.logo {
    width: 145px;
}
/***** Mobile Menu *****/

header .menu-btn {
    padding: 20px;
    font-size: 2em; 
    font-weight: 700;
    display: none; 
    cursor: pointer;
}

.mobile-menu {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 15px;
    position: relative;
    top: 126px;
    width: 100%;
    height: 100vh;
    z-index: 10;
    -webkit-box-shadow: 1px 13px 45px -14px rgba(0,0,0,0.48);
    box-shadow: 1px 13px 45px -14px rgba(0,0,0,0.48);
    display: none;
}
.mobile-menu.active {
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.mobile-menu a {
    padding: 10px 5px;
    color: #1D1D22;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.mobile-menu a:hover {
    font-weight: 700;
    -webkit-box-shadow: 0px 9px 41px -2px rgba(153,153,153,1);
    box-shadow: 0px 9px 41px -2px rgba(153,153,153,1);
}

