@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "top-section.css";
@import "services-section.css";
@import "portfolio.css";
@import "experience.css";
@import "blog-section.css";
@import "testimonial-section.css";
@import "footer-section.css";
@import "responsive.css";
@import "hovereffect.css";

.container {
    max-width: 1160px;
    margin: 0 auto;
}

/***** Menu *****/

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

header .logo img {
    width: 175px;
}

header .header-menu {
    position: relative;
    top: 50px;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

