

.portfolio_title {
    position: relative;
    width: 200px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
}

.colored-square-2 {
    background: #ffeded;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50;
}

.portfolio_title_h1 {
    position: relative;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 600;
    color: #16171c;
    letter-spacing: 2px;
    z-index: 1;
}

#portfolio .portfolio_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: repeat(3, 150px); 
    grid-gap: 10px;
    
}



.portfolio_panel {
    cursor: pointer !important;
    text-transform: uppercase;
}

#portfolio .portfolio-container .row .panel img {
    vertical-align: middle;
}

.portfolio_image {
    -o-object-fit: contain;
    object-fit: fill; 
}

#portfolio .portfolio-container .panel h2 {
    font-size: .9em;
    font-weight: 800; 
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 5px;
    
}


