

#portfolio .title {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#portfolio .title .colored-square-2 {
    background: #ffeded;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50;
}

#portfolio .title h1 {
    position: relative;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 600;
    color: #16171c;
    letter-spacing: 2px;
    z-index: 1;
}

#portfolio .portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px 300px;
    grid-gap: 15px;
}

#portfolio .portfolio-container .panel {
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-box-shadow: 1px 7px 16px 2px rgba(186,184,186,1);
-moz-box-shadow: 1px 7px 16px 2px rgba(186,184,186,1);
box-shadow: 1px 7px 16px 2px rgba(186,184,186,1);
}

#portfolio .portfolio-container .panel h2 {
    font-size: .9em;
    font-weight: 800; 
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 5px;
    
}



