@media only screen and (max-width: 1024px) {
        /***** Project Page *****/
    .portfolio-project .technologies .tech-icons {
    margin-left: 0 !important;
}

}

@media only screen and (max-width: 912px) {
    /***** Top Section *****/
    #top .info .colored-square {
        width: 125px;
    }
    
           /***** Project Page *****/
    .portfolio-project .technologies .tech-icons {
    margin-left: 5% !important;
}
}

@media only screen and (max-width: 811px) {
    /***** Experience Section *****/
    #experience-section .experience-container .large-icons .square {
        position: relative;
        top: 50px;
        left: 65px;
    }
    #experience-section .experience-container .large-icons .circle {
        position: relative;
        top: 100px;
        left: 65px;
}
    #experience-section .experience-container .large-icons .triangle {
        position: relative;
        left: 10px;
    }
}

@media only screen and (min-width: 769px) {
    /***** Header Navigation *****/
    /*** Mobile Menu ***/
    .mobile-menu {
        display: none !important;
    }
    
}
@media only screen and (max-width: 767px) {
    /***** Header Navigation *****/
     header .header-menu {
         display: none !important;
    }
    
    header .menu-btn {
        display: block !important; 
    }
    
    /***** Services Section *****/
    #services-section .services-container .panel:hover {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
}
    /***** Testimonieal Section *****/
    #testimonial-section .testimonial-container {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        display: grid;
        grid-gap: 0;
        grid-template-columns: 50% 50%;
        grid-template-rows: 200px 1fr; 
    }
    
    #testimonial-section .testimonial-container .side-image {
        margin: 10px;
    }
    
    #testimonial-section .testimonial-container .test-left {
        grid-column: 1 / 2;
        grid-row: 1 /  2;

    }
    
    #testimonial-section .testimonial-container .test-right {
        grid-column: 2 / 3;
        grid-row: 1 / 2; 

    }
    
    #testimonial-section .testimonial-container .test-center {
        grid-column: 1 / span 2;
    }
}

@media only screen and (max-width: 600px) {
    /***** Project Page *****/
    .project_description {
        grid-column: 1 / span 2; 
    }
    
    .portfolio-project .project-description h1 {
        font-size: 2.5em !important; 
    }
    
    .technologies {
        grid-column: 1 / span 2; 
    }
    
    .portfolio-project .project-btn {
    }
    
    /***** Top Section *****/
    #top .container {
        padding-bottom: 0 !important;
    }
    #top .info {
        position: relative;
        bottom: 240px;
        text-align: center;
}
    #top .info p {
        margin: auto;
        padding-bottom: 25px;
    }
    #top .img {
        position: relative;
        bottom: 150px;
    }
    /***** Experience Section *****/
    #experience-section .experience-container {
        grid-template-columns: 1fr;
    }
    #experience-section .experience-container .large-icons {
        display: none;
    }
}

@media only screen and (max-width: 572px) {
     /***** Project Page *****/
    .grid-container .project-description .project-btn {
        margin-left: 10px;
    }
    /****** Testimonial Section *****/
    #testimonial-section .testimonial-container .test-center .test-center-hdr .image-container {
        position: relative;
        right: 50px;
    }
    
    #testimonial-section .testimonial-container .test-center .test-center-hdr .customer-info {
        position: relative;
        right: 50px
    }
    
    #testimonial-section .testimonial-container .test-center p {
        position: relative;
        right: 40px
    }
}
@media only screen and (max-width: 630px) {
        /***** Blog Section *****/
    #blog-section .blog-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 500px 500px 500px; 
        grid-gap: 10px;
        overflow: hidden; 
}
}

@media only screen and (max-width: 500px) {
    /*** Top Section ***/
    .img {
        width: 350px;
        height: 350px;
    }
    .background-img {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 419px) {
    /*** Top Section ***/
    .img {
        width: 300px;
        height: 350px;
    }
    .background-img {
        width: 100%;
        height: 100%;
    }
    /***** Blog Section *****/
    #blog-section .blog-container .post {
        margin-bottom: -20px;
    }
    
    #blog-section .blog-container .post h2 {
        padding-bottom: 10px;
    }
    .post-img {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 330px) {
    /***** Project Page *****/
    .project_description {
        grid-column: 1 / span 1; 
    }
    .project-image {
    grid-column: 1 / span 1 !important;
    grid-row: 1 / span 2;
}
     .technologies {
        grid-column: 1 / span 1; 
    }
}