/**** Top Section ****/

/* Tablets */

@media only screen and (max-width: 960px){
    .container{ 
        width: 200%;
        margin: 0 auto;
    }
    
    /* Top Section */
    
    #top .info .colored-square {
        position: absolute;
        left:-35%;
    }
    
    /* Services Section */
    
    #services-section .services-container {
        grid-template-columns: 100%; 
}
    
    #services-section .services-container .panel {
        width: 95%;
        position: relative;
        left: 2%;
        
}
    #services-section .services-container .panel:hover {
    background: rgba(255,255,255,1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0px 9px 41px -2px rgba(153,153,153,1);
    -moz-box-shadow: 0px 9px 41px -2px rgba(153,153,153,1);
    box-shadow: 0px 9px 41px -2px rgba(153,153,153,1);   
}
    
    /* Portfolio Section */
    #portfolio .portfolio-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 350px 350px 350px 350px 350px;
    }
    
    #portfolio .portfolio-container .panel {
        position: relative;
        right: 1%;     
}
}

/* Phones */

@media only screen and (max-width: 767px){
     /* Top Section */
    #top .container {
        padding: 0 15px 80px;
    }
    
    #top .info .colored-square {
        display: none;
    }
    
    /* Services Section */
    #services-section .services-container .panel {
        width: 85%;
        position: relative;
        left: 10%;
}
    
    #services-section .services-container {
        grid-template-columns: 100%;
}
    
}
    
@media only screen and (max-width: 600px) {
    
        /* Portfolio Section */
    #portfolio .portfolio-container .panel {
        position: relative;
        left: 1%;     
    }
}

@media only screen and (max-width: 400px) {
    .title {
        position: relative;
        left: 5%;
    }
        /* Portfolio Section */
     #portfolio .portfolio-container {
        grid-template-rows: 300px 300px 300px 300px 300px;
    }
    #portfolio .portfolio-container .panel {
        position: relative;
        left: 2%;     
    }
}

@media only screen and (max-width: 369px){
    
        /* Portfolio Section */
    #portfolio .portfolio-container .panel {
        position: relative;
        left: 5%;     
    }
        /* Services Section */
    #services-section .services-container .panel {
        width: 85%;
        position: relative;
        left: 10%;
}
}

@media only screen and (max-width: 350px) {
        /*Portfolio Section */
    #portfolio .portfolio-container .panel {
        position: relative;
        left: 5%;     
    }
}

@media only screen and (max-width: 330px) {
    .title {
        position: relative;
        left: 10%;
    }
        /* Portfolio Section */
    #portfolio .portfolio-container .panel {
        position: relative;
        left: 10%;     
    }
}

