
#top .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  
    padding: 80px 0; 
    position: relative;
    top: 100px;
    margin-bottom: 25px;
}

/****** Top Section Info ******/

#top .info {
    padding: 15px;
    
}

.colored-square {
    border: 20px solid #dbf1ff;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 30%;
    left: -5%;
    z-index: 0; 
    
}

.top_info_h1 {
    position: relative;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 600;
    color: #16171c;
    margin-top: 7em;
    margin-bottom: 1em;
    letter-spacing: 2px;
    z-index: 1;
}

.top_info_p {
    position: relative;
    width: 50%;
    color: #919191;
    margin-bottom: 5em;
    z-index: 1;
}

.top_info_a {
    position: relative; 
    color: #16171c;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 2px solid #333;
    font-weight: 700;
    letter-spacing: 2px;
    z-index: 1; 
}

.top_info_icon_github {
    margin-left: 5px; 
}

.img {
    width: 100%;
    margin: 0 auto;
}

.background-img {
    background-image: url("../Img/my-pic-3.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 500px;
    height: 700px;
}

/*** Modal/Form Styles ***/
#contact_modal {
    display: none;
    height: 400px;
    width: 100%;
    max-width: 400px;
}
.contact_modal_h1 {
    color: #777;
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}
.contact_submit_btn {
    border: none !important;
}
form {
    background: #F9F9F9;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 100%;
}
fieldset {
    border: 1px solid rgb(150, 150, 150);
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}
input:not([type=submit]), textarea {
    width: 100%;
    padding-left: 20px;
    border: none;
}

input:not([type=submit]) {
    height: 40px;
    line-height: 40px;
}

textarea {
    padding-top: 10px;
}

#submit {
    padding: 10px 40px;
    background-color: #8ad8f7;
    color: #fff;
    border-style: none;
    font-weight: bold;
}
#submit:hover {
    cursor: pointer; 
}
