#interests-section {
     padding: 80px 0;
    display: none;
}

#interests-section .title {
    position: relative;
    width: 200px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
}

#interests-section .title h1 {
    position: relative;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 600;
    color: #16171c;
    letter-spacing: 2px;
    z-index: 1;
}

.interests_container_wrapper {
    -webkit-box-shadow: 1px 6px 61px 0px rgba(153,153,153,0.75);
    box-shadow: 1px 6px 61px 0px rgba(153,153,153,0.75);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr));
    grid-template-rows: 550px;
    margin: 0 10px;
}

.interests_img_container {
    width: 200px
}

.interests_image {
    width: 100%;
}

.interests_section_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr));
}




/*** Sub Column background styles ***/

.col_1 {
    background: ;
}
.interests_sub_heading_col_1 {
    background: green;
}

.col_2 {
    background: ;
}

.col_3 {
    background: ; 
}


















